body{
    background-color: black;
    color: rgba(255,255,255,0.8);
    font-family: 'IBM Plex Sans', sans-serif;
}

#landing{
    height: 100vh;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VkvG-2Ccliksa7zxw/ultra-hd-4k-aerial-view-of-new-york-city-skyline-by-night-midtown-manhattan-usa_nw9cobbjl__F0000.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    font-family: 'IBM Plex Sans', sans-serif;
}

#mainText{
    margin-top: 30vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

#js-type-writer > span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(61,61,61);
}

#p1{
    height: 300px;
}
#projectText {
    margin-top: 15vh;
}

#contact {
    height: 300px;
}
#contactText {
    margin-top: 15vh;
}

footer {
  background: #000;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 1em 1rem;
  font-size: 2rem;
  color: #fff;
  /*border-radius: 50%;*/
  /*border: 2px solid;*/
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  transform: scale(1.2);
}

.phone-media-ul {
  display: flex;
  justify-content: center;
}

.phone-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.phone-media-ul a {
  display: block;
  padding: 1em 1rem;
  font-size: 1.3rem;
  color: #fff;
  /*border-radius: 50%;*/
  /*border: 2px solid;*/
}
.phone-media-ul a:hover, .phone-media-ul a:focus {
  transform: scale(1.1);
}

.email-media-ul {
  display: flex;
  justify-content: center;
}

.email-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.email-media-ul a {
  display: block;
  padding: 1em 1rem;
  font-size: 1.3rem;
  color: #fff;
  /*border-radius: 50%;*/
  /*border: 2px solid;*/
}
.email-media-ul a:hover, .soc-media-ul a:focus {
  transform: scale(1.1);
}




